# Storyblok Access Token (Hämtas från Storyblok Space Settings -> Access Tokens)
STORYBLOK_DELIVERY_API_TOKEN=din_storyblok_token_har

# Version av innehåll ('draft' för utveckling/preview eller 'published' för produktion)
STORYBLOK_VERSION=draft

# Valfri hemlig nyckel för on-demand webhook revalidering (/api/revalidate)
STORYBLOK_WEBHOOK_SECRET=valfri_hemlig_nyckel
